* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

.header{
    padding: 30px;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #336ce8;
    color: whitesmoke;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
}

/* finish adding to this attribute, still need a few more attrs */
.header div {
    padding: 15px;
    margin: 20px;
    float: right;

}

.header ul {
    list-style-type: none;
}

.hero{
    height: 800px;
    width: 100%;
    background-size: cover;
    background-image: url(./images/taco\ truck.jpeg);
    background-position: center;
}

.footer{
    padding: 20px;
    text-align: center;
}